# Dependencies
node_modules
**/node_modules
.pnpm-store
.pnp
.pnp.*

# Build outputs
dist
**/dist
.next
**/ .next
out
**/out
build
**/build
*.tsbuildinfo
next-env.d.ts

# Turbo
.turbo
**/.turbo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.log

# OS / Editor junk
.DS_Store
Thumbs.db
.idea
.vscode
*.sublime-project
*.sublime-workspace
.history

# Env files
.env
.env.*
!.env.example

# Zip / Tar files
*.zip
*.tar
*.tgz
*.taz
*.tar.gz

# Vercel
.vercel

# Testing
coverage
**/coverage
