# Dependencies
node_modules/
**/node_modules/

# Build outputs
dist/
**/dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / editor junk
.DS_Store
Thumbs.db
.idea/
.vscode/

# zip / tar files
**.zip
**.tar
**.tgz
**.taz
**.tar.gz
